#gallery-container  {
	position: relative;
	overflow: hidden;
	height: 707px;
}

#portrait-gallery {
	background-image: url("../textures/stone_wall_texture.png");	
	white-space: nowrap;				
	padding: 0 100000px;				
	padding-top: 60px;
	position: absolute;
	left: -100000px;	
}

#alignment-ribbon {
	position:fixed; top:0; bottom:0; left:0; right:0; z-index: 9001; pointer-events: none;
	display: none;
}

#portrait-gallery.interactive {			
	transition: left 0.5s ease;				
}

#gallery-separator.interactive {			
	transition: background-position 0.5s;
}

.gallery-scroll {
	background-color: #cc9;
	display: none;
	opacity: 0.3;
	position: fixed;
	top: 310px;
	height: 90px;
	padding: 20px 8px;
	z-index: 200;
	cursor: pointer;
	color: #000;
	font-size: 36px;	
	border-radius: 10px;
}
			
.gallery-scroll:hover {
	opacity: 1;
}

.gallery-scroll.left { left: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.gallery-scroll.right { right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
			 
#gallery-container.canScrollLeft .gallery-scroll.left,
#gallery-container.canScrollRight .gallery-scroll.right { 
	display: inline-block;
}

.portrait {
	display: inline-block;
	background-image: url("../images/portrait-frame.png");
	background-repeat: no-repeat;
	width: 356px;
	height: 607px;
	padding: 73px;
	transform: scale(0.8, 0.8);
	cursor: pointer;
	transition: all 0.4s ease-out;	
	position: relative;
}
					
.portrait.expanded {
	transform: scale(1, 1);
	opacity: 1;
}

.portrait img {
	width: 212px;
	height: 355px;				
}

.portrait .portrait-title,
.portrait .portrait-subtitle {
	pointer-events: none;
	position: absolute;
	color: #fff;
	text-align: center;
	left: -100px;
	right: -100px;
	opacity: 0;
	transition: opacity 0.8s ease;
}

.portrait .portrait-title {
	top: 450px
}

.portrait .portrait-subtitle {
	top: 500px;
}

.portrait .portrait-subtitle p {
	text-align: center;
}

.portrait.knight:after {
	content: '';
	position: absolute;
	bottom: 105px;
	left: 150px;
	width: 65px;
	height: 80px;
	background-image: url('../images/lion-touch-knight-shield-blue-and-gold.png')
}

#portrait-details p.photo-credit,
#portrait-details p.photo-credit > p {
	font-size: 0.8vw;
}

#portrait-details {
	opacity: 0;
	transition: opacity 0.2s;
	width: 35vw;
	padding: 20px;
	position: fixed;
	top: 350px;
	background: rgba(0,0,0,0.7);
}

#portrait-details.visible {
	opacity: 1;
	transition: opacity 1s;
}

@media all and (max-width: 800px) {
	.portrait.expanded .portrait-title,
	.portrait.expanded .portrait-subtitle 	{					
		display: block;		
		opacity: 1;
	}		
	
	#portrait-details {
		display: none;
	}
}